@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
  box-sizing: border-box;
}

body{
  background-color: #055188;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.user-form{
  width: 100%;
  max-width: 700px;
}

.user-form input{
  width: 100%;
  display: block;
  background-color: #124ed1;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
  0 15px 40px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 1rem;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
  font-family: inherit;
  margin-bottom: 2rem;
}

.user-form input::placeholder{
  color: #bbb;
}

.user-form input:focus{
  outline: none;
}

.card{
  max-width: 800px;
  background-color: #2953ae;
  padding: 3rem;
  display: flex;
  margin: 0 1.5rem;
  box-shadow:  0 5px 10px rgba(154, 160, 185, 0.05),
  0 15px 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.avatar{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 10px solid #2a2a72;
}

.user-info{
  color: #eee;
  margin-left: 2rem;
}


.user-info h2{
  margin-top: 0;
}

.user-info ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  max-width: 400px;
}


.user-info ul li{
  display: flex;
  align-items: center;
}

.user-info ul li strong{
  margin-left: 0.5rem;
  font-size: 0.9rem;
}